* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  
  background: #E5E5E5;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000000;
}

.page {
  width: 736px;
  margin: auto;
  
}

header {
  width: 319px;
  height: 160px;
  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-bottom: 24px;
}

header p {
  font-size: 16px;
  line-height: 26px;
  color: #42D3FF;
}

form {
  display: flex;
  flex-direction: column;
  padding: 64px;
  
  position: absolute;
  width: 736px;
  height: 1430px;
  margin-top: 38px;
  
  background: #FAFAFC;
  border-radius: 8px 8px 0px 0px;
}

span {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;
  color: #7a7780;
}

fieldset {
  border: none; 
}

.fieldset-wrapper {
  display: flex;  
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;  
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  
}

.input-wrapper label span {
  margin-left: 12px;
}

.input-wrapper input, .input-wrapper textarea {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #C1BCCC;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}