*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  background: #ECE9FD;
  padding: 6.0rem 2.3rem; 
 
}

header {
  display: flex;
  justify-content: flex-end;  
}


main {
  max-width: 37.5rem;
  margin: 0 auto;
  height: 87.0rem;
}

/* main p:first-child*/
#top {
font-family: 'Epilogue';
font-size: 1.6rem;
line-height: 3.2rem;
letter-spacing: 3px;
text-transform: uppercase;
color: #7158EF;
margin-bottom: 1.7rem;
}

h1 {
font-family: 'Epilogue';
font-weight: 800;
font-size: 4.0rem;
line-height: 4.8rem;
color: #090039;
margin-bottom: 1.5rem;
} 

#body, a {
font-family: 'Epilogue';
font-size: 1.6rem;
line-height: 3.2rem;
color: rgba(10, 0, 57, 0.64);
}

#body {
  margin-bottom: 3.2rem;
}

a {
text-decoration: none;
color: #090039;
}
a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 7.2rem;
  gap: 4.8rem;
  list-style: none;
  font-family: 'Epilogue';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;  
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.6rem;
  max-width: 25.7rem;
}

span {
font-family: 'Epilogue';
font-weight: 800;
font-size: 7.2rem;
line-height: 8.0rem;
letter-spacing: 2px;
color: #090039;

}

@media (min-width: 700px) {
  body{
    padding: 8rem;
  }
  
  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  li {
    max-width: 450px;
  }
}


