* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: hsl(0, 0%, 100%);
  --font-color: hsl(0, 0%, 0%);
  --primary-color: hsl(0, 0%, 0%);
  --secundary-color: hsl(0, 0%, 89%);
  --secundary-color-light: hsl(0, 0%, 100%);
  --btn-hover-color: hsl(194, 97%, 31%);
  --shadow-color: rgb(41, 39, 39);


}

.dark {
  --bg-color: hsl(240, 5%, 7%);
  --secundary-color: hsl(240, 9%, 89%);
  --secundary-color-light: hsl(0, 0%, 100%);
  --btn-hover-color: hsl(195, 74%, 15%);
  --font-color: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 100%);
}

/*============================== GENERAL ====================================*/

body {
  display: grid;
  min-height: 100vh;
  background-color: var(--bg-color);
}

button {
  cursor: pointer;
}

#theme {
  position: absolute;
  top: 6rem;
  right: 6rem;
  border: none;
  background-color: transparent;
  z-index: 2;
}

/*================================ CLASS BASE ===============================*/

.hide {
  display: none;
}

.active {
  --secundary-color: var(--btn-hover-color);
  background-color: var(--secundary-color-light)
}

.clickedForrest .controls,
.clickedForrest .timer,
.clickedForrest .forrest svg path,
.clickedForrest .controls svg path {
  text-shadow: var(--shadow-color) 10px 10px 10px;
  filter: drop-shadow( 0px 0px 5px black);
  color: var(--secundary-color-light);
  fill: var(--secundary-color-light);

}

.clickedForrest#page {
  background-image: url('https://images.unsplash.com/photo-1630947343775-390d41552b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
  object-fit: cover;
  background-position: center;
  border-radius: 3rem;

  transition: 300ms;

  transform: scale(1);
}

.clickedRain .controls,
.clickedRain .timer,
.clickedRain .rain svg path,
.clickedRain .controls svg path {
  text-shadow: var(--shadow-color) 10px 10px 10px;
  filter: drop-shadow( 0px 0px 5px black);
  color: var(--secundary-color-light);
  fill: var(--secundary-color-light);
}

.clickedRain#page {
  background-image: url('https://images.unsplash.com/photo-1428592953211-077101b2021b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmFpbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  border-radius: 3rem;

  transition: 300ms;

  transform: scale(1);
}

.clickedCafeteria .controls,
.clickedCafeteria .timer,
.clickedCafeteria .cafeteria svg path,
.clickedCafeteria .controls svg path {
  text-shadow: var(--shadow-color) 10px 10px 10px;
  filter: drop-shadow( 0px 0px 5px black);
  color: var(--secundary-color-light);
  fill: var(--secundary-color-light);
}

.clickedCafeteria#page {
  background-image: url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
  object-fit: cover;
  background-position: center;
  border-radius: 3rem;

  transition: 300ms;

  transform: scale(1);
}

.clickedFireplace .controls,
.clickedFireplace .timer,
.clickedFireplace .fireplace svg path,
.clickedFireplace .controls svg path {
  text-shadow: var(--shadow-color) 10px 10px 10px;
  filter: drop-shadow( 0px 0px 5px black);
  color: var(--secundary-color-light);
  fill: var(--secundary-color-light);
  
}

.clickedFireplace#page {
  background-image: url('https://images.unsplash.com/photo-1554332208-9dfebcc48334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  object-fit: cover;
  background-position: center;
  border-radius: 3rem;

  transition: 300ms;

  transform: scale(1);
}

/*================================ THEME ===============================*/
.changeMode {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.changeMode button {
  border: none;
  background: transparent;
}

/*================================ TIMER ===============================*/

#page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-self: center;
  gap: clamp(4rem, 2rem + 10vw, 19.2rem);
  width: clamp(73rem, 84rem + 2vw, 140rem);
  height: 33.6rem;
}


#clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 32.1rem;
  height: 33.6rem;
  border-radius: 1.5rem;
  margin-left: 0.5rem;
}

.timer {
  display: flex;
  margin-bottom: 1.7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: clamp(8rem, 10rem + 10vw, 12.6rem);
  line-height: 14.8rem;
  color: var(--font-color)
}

timer.span {
  text-shadow: var(--shadow-color), 2px 3px 2px;
}

.controls svg path {
  fill: var(--font-color)
  
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.controls button {
  border: none;
  background-color: transparent;
  max-width: 4.8rem;
  max-height: 4.8rem;
  
}



/*==================================== SOUND ============================*/

#sound {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  align-items: center;
  gap: 0.5rem;
  width: 30.1rem;
  height: 33.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--secundary-color);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: none;
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
  transform: scale(1);
  transition-duration: 500ms;
}

.card button {
  background: none;
  border: none;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.card input {
  border: none;
  width: 8rem;
  height: 0.3rem;
  border-radius: 50%;
}


button svg path {
  fill: var(--font-color)
}


/*==================================== MEDIA ============================*/

@media (max-width: 500px) {
  body {
    min-height: 58vh;
  }

  #page {
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0rem;
  }

  #clock {
    margin-left: 0rem;
  }

  #sound {
    justify-self: center;
    gap: 4rem;
  }

  .changeMode {
    top: 1rem;
    right: 3rem;
  }

  .card:hover {
    transform: none;
  }

}